{% extends 'base.html.twig' %}


{% block body %}
    <div id="greeter" style="margin-top: 2000px">Hello friend!</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}